body {
    background-image: url("../img/pattern.jpg");
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
}

nav {
    position: fixed;
    text-align: right;
    top: 0;
    right: 0;
    z-index: 1000;
}

nav ul li {
    display: inline-block;    
    font-weight: bold;
    margin: 2px 15px 0 0;
}

a {
    text-decoration: none;
}

section {
    margin: 70px auto 0 auto;
    width: 80%;
    background-color: white;
    padding: 10px 20px 20px 20px;
}

section h1 {
    text-align: center;
}

article {
    border-bottom: 2px solid slategray;
    margin: 50px 0 10px 0;
}

footer {
    text-align: center;
    height: 40px;
    background-color: black;
    color: white;
}

footer h5 {
    line-height: 40px;
}